<a href="https://colab.research.google.com/github/Proton214/hmm_test/blob/master/read_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import hmmlearn

In [0]:
bt = pd.read_csv("BT.csv")

In [12]:
bt

      Unnamed: 0  ... Perf_node01_power_energy_total_
0              0  ...                               2
1              1  ...                               2
2              2  ...                               2
3              3  ...                               2
4              4  ...                               3
...          ...  ...                             ...
1533        1533  ...                               1
1534        1534  ...                               2
1535        1535  ...                               3
1536        1536  ...                               0
1537        1537  ...                               0

[1538 rows x 12 columns]

In [0]:
bt_v = pd.read_csv("BT_variable.csv")

In [20]:
bt_v

      Unnamed: 0  ... Perf_node01_power_energy_total_
0              0  ...                               2
1              1  ...                               2
2              2  ...                               2
3              3  ...                               2
4              4  ...                               3
...          ...  ...                             ...
1533        1533  ...                               1
1534        1534  ...                               2
1535        1535  ...                               3
1536        1536  ...                               0
1537        1537  ...                               0

[1538 rows x 6 columns]

In [0]:
bt_v = bt_v.reindex(['Application'])